In [1]:
from string import ascii_letters
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import bokeh

# in your notebook cell
import sys

# path relative to your notebook
sys.path.insert(0, '../src')

# autoreload
%load_ext autoreload
%autoreload 2

#defining DataFrame
df = pd.read_excel('../data/PIRUS_March2023/PIRUS_V4.xlsx')

,Subject_ID,Loc_Plot_State1,Loc_Plot_City1,Loc_Plot_State2,Loc_Plot_City2,Year_Exposure,Plot_Target1,Plot_Target2,Plot_Target3,Attack_Preparation,...,Trauma,Other_Ideologies,Angry_US,Group_Grievance,Component_ID,Component_Density,Lone_Offender,Degree_Centrality,Betweenness_Centrality,Closeness_Centrality
0,1000,Illinois,Chicago,Florida,Broward County,2002,14,NaN,NaN,1,...,0,0,0,0,6,0.190000,0,5,0.112319,0.444444
1,1001,California,San Francisco,NaN,NaN,2001,-88,NaN,NaN,-88,...,-99,0,1,-99,1525,-88.000000,1,0,0.000000,0.000000
2,1002,California,Santa Ana,NaN,NaN,1997,-99,NaN,NaN,-99,...,-99,0,1,1,471,1.000000,0,1,0.000000,1.000000
3,1005,New York,New York,NaN,NaN,1993,1,NaN,NaN,2,...,0,0,1,2,9,0.573099,0,9,0.179739,0.666667
4,1006,New York,New York,NaN,NaN,1993,1,NaN,NaN,2,...,-99,0,1,-99,9,0.573099,0,9,0.179739,0.666667

In [3]:
# df.head()

df.shape

(3203, 130)