In [21]:
from string import ascii_letters
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import bokeh

# in your notebook cell
import sys

# path relative to your notebook
sys.path.insert(0, '../src')

# import as usual
import functions

# autoreload
%load_ext autoreload
%autoreload 2

#defining DataFrame
df = functions.read_file('../data/PIRUS_March2023/PIRUS_V4.xlsx')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
# df.head()

df.shape

(3203, 130)

In [19]:
df[df.isnull().any(axis=1)]

,Subject_ID,Loc_Plot_State1,Loc_Plot_City1,Loc_Plot_State2,Loc_Plot_City2,Year_Exposure,Plot_Target1,Plot_Target2,Plot_Target3,Attack_Preparation,...,Trauma,Other_Ideologies,Angry_US,Group_Grievance,Component_ID,Component_Density,Lone_Offender,Degree_Centrality,Betweenness_Centrality,Closeness_Centrality
0,1000,Illinois,Chicago,Florida,Broward County,2002,14,NaN,NaN,1,...,0,0,0,0,6,0.190000,0,5,0.112319,0.444444
1,1001,California,San Francisco,NaN,NaN,2001,-88,NaN,NaN,-88,...,-99,0,1,-99,1525,-88.000000,1,0,0.000000,0.000000
2,1002,California,Santa Ana,NaN,NaN,1997,-99,NaN,NaN,-99,...,-99,0,1,1,471,1.000000,0,1,0.000000,1.000000
3,1005,New York,New York,NaN,NaN,1993,1,NaN,NaN,2,...,0,0,1,2,9,0.573099,0,9,0.179739,0.666667
4,1006,New York,New York,NaN,NaN,1993,1,NaN,NaN,2,...,-99,0,1,-99,9,0.573099,0,9,0.179739,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3198,12147,District of Columbia,Washington,NaN,NaN,2021,2,3.0,NaN,1,...,0,0,1,0,1535,-88.000000,1,0,0.000000,0.000000
3199,12148,District of Columbia,Washington,NaN,NaN,2021,2,3.0,NaN,1,...,0,0,1,0,38,0.527778,0,3,0.428571,0.615385
3200,12149,Oregon,Salem,NaN,NaN,2021,14,NaN,NaN,-99,...,0,0,0,0,1,0.005436,0,4,0.000000,0.098882
3201,12151,Oregon,Salem,NaN,NaN,2021,14,NaN,NaN,-99,...,0,0,0,0,1,0.005436,0,4,0.000000,0.098882
3202,12152,District of Columbia,Washington,NaN,NaN,2021,-88,NaN,NaN,-88,...,3,0,1,0,1,0.005436,0,2,0.000000,0.122570

In [39]:
mil_only = functions.mil_filter(df, start_year=2000)

# mil_only.groupby('Year_Exposure')['Year_Exposure'].value_counts()

# print(mil_only['Year_Exposure'].value_counts())
# print(isinstance(mil_only['Year_Exposure'].value_counts(), pd.Series))

print(mil_only.sort_values(by=['Year_Exposure'], axis=0, ascending=False)['Year_Exposure'])
# print(mil_only.loc[:,'Year_Exposure'])

# isinstance(mil_only,pd.DataFrame)
# print(mil_only[mil_only["Year_Exposure"] > 1999]["Subject_ID"].count())
# isinstance(mil_only['Military'].value_counts(),pd.Series)

3201    2021
2697    2021
2699    2021
2700    2021
2701    2021
        ...
1436    2001
1520    2001
711     2001
528     2001
683     2000
Name: Year_Exposure, Length: 343, dtype: int64